{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags epc_tags %}

{% block body_class %}body contact-page{% endblock %}

{% block content %}
<div class="contact page-hero-section" data-ix="slide-in-scroll-navigation-on-scroll">
    <div class="container-medium">
      <div class="contact-hero-flexbox">
        <div class="contact-text-flexitem">
          <h5 class="contact-hero-heading" data-ix="fade-down-on-scroll">{{ page.contact_hero_title }}</h5>
          <div class="contact-hero-subheading" data-ix="slide-left">{{ page.contact_hero_subtitle }}</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="contact contact-overlap-block">
      <div class="contact-flexbox">
        <div class="contact-flex-item" data-ix="pop-up-on-scroll">
          <div class="contact-detail-wrapper"><img class="contact-card-icon" src="{% static 'images/gps.png' %}">
            <h3 class="contact-card-title">{{ page.address_title }}</h3>
            <p class="contact-card-detail">{{ page.address_1 }}
              <br>{{ page.address_2 }}</p>
          </div>
        </div>
        <div class="contact-flex-item" data-ix="pop-up-on-scroll-2">
          <div class="contact-detail-wrapper"><img class="contact-card-icon" src="{% static 'images/mobile-phone.png' %}">
            <h3 class="contact-card-title">{{ page.phone_title }}</h3>
            <p class="contact-card-detail">{{ page.phone_number }}</p>
            <p class="contact-card-detail">{{ page.fax_number }}</p>
          </div>
        </div>
        <div class="contact-flex-item" data-ix="pop-up-on-scroll-3">
          <div class="contact-detail-wrapper"><img class="contact-card-icon" src="{% static 'images/mail.png' %}">
            <h3 class="contact-card-title">{{ page.email_title }}</h3>
            <p class="contact-card-detail">{{ page.email_address }}</p>
          </div>
        </div>
        <div class="contact-flex-item" data-ix="pop-up-on-scroll-4">
          <div class="contact-detail-wrapper"><img class="contact-card-icon" src="{% static 'images/pray.png' %}">
            <h3 class="contact-card-title">{{ page.service_title }}</h3>
            <p class="contact-card-detail">{{ page.service_schedule_1 }}</p>
            <p class="contact-card-detail">{{ page.service_schedule_2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-section">
    <h4 class="contact-form-heading">{{ page.contact_form_title }}</h4>
    <div class="small-divider"></div>
    <div class="form-flexbox">
      <div class="form-flexitem">
        <div class="contact-form-wrapper">
          <form class="contact-form" action="{% pageurl self %}" id="contact-form" name="contact-form" method="post">
              {% csrf_token %}
              {{ form.as_p }}
            <input class="button contact w-button" type="submit" value="보내기">
          </form>
        </div>
      </div>
      <div class="map-flexitem">
        <div class="epc-map w-widget w-widget-map" data-widget-latlng="34.0632736,-118.3171359" data-widget-tooltip="동부 장로 교회"></div>
      </div>
    </div>
  </div>
{% endblock %}
