{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags epc_tags %}

{% block content %}
  <div class="blog page-hero-section" data-ix="slide-in-scroll-navigation-on-scroll">
    <div class="container-medium">
      <div class="blog page-hero-text-flexbox">
        <div class="blog sermons-text-flex-item">
          <h1 class="blog-page-title" data-ix="slide-left">{{ page.event_hero_title }}</h1>
          <div class="blog-page-subtitle" data-ix="slide-right">{{ page.event_hero_subtitle }}</div>
        </div>
        <div class="empty-flex-item"></div>
      </div>
    </div>
  </div>

  <div>
    <div class="container-medium">
      <h1 class="featured-heading">{{ page.event_featured_name }}</h1>
      <div class="event small-divider"></div>
      <div class="featured-event-flexbox">
          {% for event in f_events %}
            <div class="featured-event-flexitem" data-ix="slide-right">
                {% image event.event_image original as event_image %}
                <img class="feature-event-image" sizes="(max-width: 479px) 100vw, (max-width: 991px) 50vw, 40vw" src="{{ event_image.url }}" srcset="{{ event_image.url }} 1080w, {{ event_image.url }} 1500w">
              <div class="church-event-flexitem featured">
                <div class="event-date-flexitem">
                    <img class="event-date-icon" height="32" src="{% static 'images/calendar.png' %}" width="32">
                  <h3 class="event-date">{{ event.event_date }}</h3>
                </div>
                <div class="event-detail-flexitem">
                  <h3 class="event-title">{{ event.event_title }}</h3>
                  <div class="event-time-flexbox"><img class="event-time-icon" height="25" src="{% static 'images/stopwatch.png' %}" width="25">
                    <div class="event-time">{{ event.event_time }}</div>
                  </div>
                  <p class="event-detail featured">{{ event.event_description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <div class="divider"></div>
    </div>
    <div class="container-medium">
      <div class="church-event-flexbox">

          {% for event in r_events %}
            <div class="church-event-flexitem">
              <div class="event-date-flexitem">
                  <img class="event-date-icon" height="25" src="{% static 'images/calendar.png' %}" width="25">
                <h3 class="event-date">{{ event.event_date }}</h3>
              </div>
              <div class="event-detail-flexitem">
                <h3 class="event-title">{{ event.event_title }}</h3>
                <div class="event-time-flexbox"><img class="event-time-icon" height="25" src="{% static 'images/stopwatch.png' %}" width="25">
                  <div class="event-time">{{ event.event_time }}</div>
                </div>
                <p class="event-detail">{{ event.event_description }}</p>
              </div>
            </div>
          {% endfor %}

      </div>
    </div>
  </div>
  <div class="blog pagination-block">
          {% if r_events.has_previous %}
          <a class="blog left-arrow" href="?page={{ r_events.previous_page_number }}">이전 페이지</a>
          {% endif %}
          <span class="blog pagination-number" href="#">
              Page {{ r_events.number }} of {{ r_events.paginator.num_pages }}
          </span>
          {% if r_events.has_next %}
          <a class="blog right-arrow" href="?page={{ r_events.next_page_number }}">다음 페이지</a>
          {% endif %}
  </div>
{% endblock %}