{% extends "base.html" %}
{% load staticfiles i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body{% endblock %}

{% block content %}
  <div class="slider-wrapper" data-ix="slide-in-scroll-navigation-on-scroll">
    <div class="main-slider w-slider" data-animation="slide" data-duration="500" data-infinite="1">
      <div class="w-slider-mask">
        <div class="slide1 w-slide">
          <div class="container-medium">
            <div class="slider-flexbox">
              <div class="slide-flexitem">
                <h1 class="slider-heading" data-ix="slide-left">{{ page.first_slide_title }}</h1>
                <h1 class="slide-subheading" data-ix="slide-right">{{ page.first_slide_scripture }}</h1>
                <h4 class="slide-subheading2" data-ix="slide-left-2">{{ page.first_slide_verse }}</h4><a class="button slide w-button" data-ix="slide-left-3" href="{{ page.first_slide_button_link }}">{{ page.first_slide_button_text }}</a>
              </div>
              <div class="slide-flexitem"></div>
            </div>
          </div>
        </div>
        <div class="slide2 w-slide">
          <div class="container-medium">
            <div class="slider-flexbox">
              <div class="slide-flexitem">
                <h1 class="slider-heading">{{ page.second_slide_title }}</h1>
                <h1 class="slide-subheading">{{ page.second_slide_scripture }}</h1>
                <h4 class="slide-subheading2">{{ page.second_slide_verse }}</h4><a class="button slide w-button" href="{{ page.second_slide_button_link }}">{{ page.second_slide_button_text }}</a>
              </div>
              <div class="slide-flexitem"></div>
            </div>
          </div>
        </div>
        <div class="slide3 w-slide">
          <div class="container-medium">
            <div class="slider-flexbox">
              <div class="slide-flexitem">
                <h1 class="slider-heading">{{ page.third_slide_title }}</h1>
                <h1 class="slide-subheading">{{ page.third_slide_scripture }}</h1>
                <h4 class="slide-subheading2">{{ page.third_slide_verse }}</h4><a class="button slide w-button" href="{{ page.third_slide_button_link }}">{{ page.third_slide_button_text }}</a>
              </div>
              <div class="slide-flexitem"></div>
            </div>
          </div>
        </div>
        <div class="slide4 w-slide">
          <div class="container-medium">
            <div class="slider-flexbox">
              <div class="slide-flexitem">
                <h1 class="slider-heading">{{ page.fourth_slide_title }}</h1>
                <h1 class="slide-subheading">{{ page.fourth_slide_scripture }}</h1>
                <h4 class="slide-subheading2">{{ page.fourth_slide_verse }}</h4><a class="button slide w-button" href="{{ page.fourth_slide_button_link }}">{{ page.fourth_slide_button_text }}</a>
              </div>
              <div class="slide-flexitem"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="slider-icon w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="slider-icon w-icon-slider-right"></div>
      </div>
      <div class="w-round w-slider-nav"></div>
    </div>
  </div>
  <div class="welcome-section">
    <div class="welcome-flexbox">
      <div class="w-container welcome-flexitem">
        <h1 class="welcome-heading" data-ix="fade-down-on-scroll">{{ page.confession_main_title }}</h1>
      </div>
      <div class="container-medium">

        <div class="sermon-feature-flexbox">
            {% image page.first_confession_icon width-64 as first_icon %}
          <div class="sermon-feature-flexitem">
            <img class="feature-icon" src="{{ first_icon.url }}" width="64">
            <h1 class="sermon-feature-heading">{{ page.first_confession_title }}</h1>
            <h3 class="sermons-feature-subheading">{{ page.first_confession_verse }}</h3>
            <p class="sermons-feature-desc">{{ page.first_confession_scripture }}</p>
          </div>
          <div class="sermon-feature-flexitem">
              {% image page.second_confession_icon width-64 as second_icon %}
            <img class="feature-icon" src="{{ second_icon.url }}" width="64">
            <h1 class="sermon-feature-heading">{{ page.second_confession_title }}</h1>
            <h3 class="sermons-feature-subheading">{{ page.second_confession_verse }}</h3>
            <p class="sermons-feature-desc">{{ page.second_confession_scripture }}</p>
          </div>
          <div class="sermon-feature-flexitem">
            {% image page.third_confession_icon width-64 as third_icon %}
            <img class="feature-icon" src="{{ third_icon.url }}" width="64">
            <h1 class="sermon-feature-heading">{{ page.third_confession_title }}</h1>
            <h3 class="sermons-feature-subheading">{{ page.third_confession_verse }}</h3>
            <p class="sermons-feature-desc">{{ page.third_confession_scripture }}</p>
          </div>
          <div class="sermon-feature-flexitem">
            {% image page.fourth_confession_icon width-64 as fourth_icon %}
            <img class="feature-icon" src="{{ fourth_icon.url }}" width="64">
            <h1 class="sermon-feature-heading">{{ page.fourth_confession_title }}</h1>
            <h3 class="sermons-feature-subheading">{{ page.fourth_confession_verse }}</h3>
            <p class="sermons-feature-desc">{{ page.fourth_confession_scripture }}</p>
          </div>
          <div class="sermon-feature-flexitem">
            {% image page.fourth_confession_icon width-64 as fifth_icon %}
            <img class="feature-icon" src="{{ fifth_icon.url }}" width="64">
            <h1 class="sermon-feature-heading">{{ page.fifth_confession_title }}</h1>
            <h3 class="sermons-feature-subheading">{{ page.fifth_confession_verse }}</h3>
            <p class="sermons-feature-desc">{{ page.fifth_confession_scripture }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="announce-section">
    <div class="container-medium">
      <div class="announce-flexbox">
        <div class="text-flexitem">
          <h3 class="sermons-heading">{{ page.sermon_video_main_title }}</h3>
          <h4 class="sermons-subheading">{{ page.sermon_video_subtitle }}</h4>
          <p class="sermons-desc">{{ page.sermon_video_description }}</p><a class="button sermons w-button" href="{{ page.sermon_video_button_link }}">{{ page.sermon_video_button_text }}</a>
        </div>
          <!-- Sermon Video -->

          {% for sermon in sermons %}
            <div class="sermons-video-flexitem">
              <div class="pms ser sermons-overlay">
                <h6 class="sermon-day sermons-video-title">{{ sermon.sermon_day }}</h6>
                <h3 class="sermons-video-title">{{ sermon.sermon_title }}</h3>
                <h1 class="latest sermon-video-date">{{ sermon.sermon_date }}</h1>
                <h3 class="sermon-video-scripture">{{ sermon.sermon_chapter }}</h3>
              </div>
                {% image sermon.sermon_thumbnail_image width-1000 as thumb %}
              <img sizes="(max-width: 479px) 97vw, (max-width: 767px) 57vw, (max-width: 991px) 58vw, 31vw" src="{{ thumb.url }}" srcset="{{ thumb.url }} 500w, {{ thumb.url }} 700w">
              <a class="w-inline-block w-lightbox" href="#">
                <img class="sermon-light-box sermons" src="{% static 'images/58bafc918495d36c26dea457_play-icon.png' %}">
                <script class="w-json" type="application/json">
                  { "group": "lord's day sermon", "items": [{
                    "type": "video",
                    "url": {{ sermon.sermon_link }},
                    "html": "<iframe class=\"embedly-embed\" src=\"https://www.youtube.com/embed/{{ sermon.sermon_share_code }}\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
                    "thumbnailUrl": "https://i.ytimg.com/vi/{{ sermon.sermon_share_code }}/hqdefault.jpg",
                    "width": 940,
                    "height": 528
                  }] }
                </script>
              </a>
            </div>

          {% endfor %}
      </div>
    </div>
    <div class="div-spacer"></div>


    <div class="container-medium">

      <!-- Blog -->
      <div class="announce-flexbox blog">
        <div class="blog text-flexitem">
          <h1 class="sermons-heading">{{ page.blog_main_title }}</h1>
          <h3 class="blog sermons-subheading">{{ page.blog_subtitle }}</h3>
          <p class="sermons-desc">{{ page.blog_description }}</p>
          <a class="button w-button" href="{% pageurl page.blog_button_link %} ">{{ page.blog_button_text }}</a>
        </div>
          <!-- Blog Content -->
          {% for blog in latest_blogs %}
            <div class="blog-flexitem">
              <div class="blog-page-flexitem">
                  {% image blog.blog_image original as blog_image %}
                <img class="blog-thumb-image" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 44vw, (max-width: 4635px) 28vw, 1298px" src="{{ blog_image.url }}" srcset="{{ blog_image.url }} 500w, {{ blog_image.url }} 800w, {{ blog_image.url }} 1080w, {{ blog_image.url }} 1298w">
                <h4 class="blog-title-preview">{{ blog.blog_title }}</h4>

                  <!-- Author Detail -->
                  {% with blog.blog_author as author %}
                      {% image author.author_image original as author_image %}
                  <img class="author-image" height="50" sizes="(max-width: 479px) 50vw, 50px" src="{{ author_image.url }}" srcset="{{ author_image.url }} 500w, {{ author_image.url }} 800w, {{ author_image.url }} 1080w, {{ author_image.url }} 1359w" width="50">
                  <div class="author-name">By {{ author.author_name }}</div>
                  {% endwith %}

                  <a class="continue-reading" href="{% pageurl blog %}">계속 읽기</a>
                <div class="blog-sub-flexitem2"></div>
              </div>
            </div>
          {% endfor %}
      </div>

      <div class="announce-flexbox blog">
        <div class="blog text-flexitem">
          <h1 class="sermons-heading">{{ page.event_main_title }}</h1>
          <h3 class="blog sermons-subheading">{{ page.event_subtitle }}</h3>
          <p class="sermons-desc">{{ page.event_description }}</p>
            <a class="button w-button" href="{% pageurl page.event_button_link %}">{{ page.event_button_text }}</a>
        </div>
        <div class="blog-flexitem event">
          {% for event in latest_event %}
              <div class="church-event-flexitem">
                <div class="event-date-flexitem">
                    <img class="event-date-icon" height="32" src="{% static 'images/calendar.png' %}" width="32">
                  <h3 class="event-date">{{ event.event_date }}</h3>
                </div>
                <div class="event-detail-flexitem">
                  <h3 class="event-title">{{ event.event_title }}</h3>
                  <div class="event-time-flexbox">
                      <img class="event-time-icon" height="25" src="{% static 'images/stopwatch.png' %}" width="25">
                    <div class="event-time">{{ event.event_time }}</div>
                  </div>
                  <p class="event-detail">{{ event.event_description }}</p>
                </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  <div class="service-hour-section">
    <div class="service-scripture-container w-container">
      <h1 class="worship-heading" data-ix="fade-down-on-scroll">{{ page.service_title }}</h1>
      <h1 class="worship-scripture" data-ix="fade-down-on-scroll-2">{{ page.service_scripture }}</h1>
      <h3 class="worship-scripture2" data-ix="slide-left">{{ page.service_verse }}</h3>
    </div>
    <div class="service-flex-wrap">
      <div class="service-info">
        <h1 class="gatering-info-header">{{ page.service_subtitle }}</h1>
        <div class="gathering-schedule-info">
          <div class="sermon-feature-flexitem">
              <img class="feature-icon gathering-icon" src="{% static 'images/wall-calendar-x128.png'%}" width="64">
            <h1 class="sermon-feature-heading">{{ page.service_lord_day }}</h1>
            <h3 class="sermons-feature-subheading">{{ page.service_lord_day_schedule_1 }}<br>{{ page.service_lord_day_schedule_2 }}<br>{{ page.service_lord_day_schedule_3 }}<br>{{ page.service_lord_day_schedule_4 }}</h3>
          </div>
          <div class="sermon-feature-flexitem">
              <img class="feature-icon gathering-icon" src="{% static 'images/wall-calendar-x128.png' %}" width="64">
            <h1 class="sermon-feature-heading">{{ page.service_friday_day }}</h1>
            <h3 class="sermons-feature-subheading">{{ page.service_friday_day_schedule }}</h3><a class="button gathering-button w-button" href="{% pageurl page.service_button_link %}">{{ page.service_button_text }}</a>
          </div>
        </div>
      </div>
      <div class="service-flex-item"></div>
    </div>
  </div>
  <div class="ministries-section">
    <div>
      <div class="ministries-container w-container">
        <h1 class="ministries-heading" data-ix="fade-down-on-scroll">{{ page.mission_main_title }}</h1>
        <h1 class="ministries-scripture" data-ix="fade-down-on-scroll-2">{{ page.mission_scripture }}</h1>
        <h3 class="ministries-scripture2" data-ix="slide-left">{{ page.mission_verse }}</h3>
      </div>
    </div>
    <div class="ministry-flex-wrapper">
        {% image page.mission_card_image original as mission_image %}
      <div class="mission sermon-feature-flexitem">
          <img class="image" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 20vw" src="{{ mission_image.url }}" srcset="{{ mission_image.url }} 500w, {{ mission_image.url }} 800w, {{ mission_image.url }} 1080w, {{ mission_image.url }} 1600w, {{ mission_image.url }} 2000w">
        <h1 class="sermon-feature-heading">{{ page.mission_card_title }}</h1>
        <h3 class="capital sermons-feature-subheading">{{ page.mission_card_subtitle }}</h3><a class="button nomargin w-button" href="{% pageurl page.mission_card_button_link %}">{{ page.mission_card_button_text }}</a>
      </div>
        {% image page.education_card_image original as ed_image %}
      <div class="mission sermon-feature-flexitem">
          <img class="image" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, (max-width: 8823px) 17vw, 1500px" src="{{ ed_image.url }}" srcset="{{ ed_image.url }} 1080w, {{ ed_image.url }} 1500w">
        <h1 class="sermon-feature-heading">{{ page.education_card_title }}</h1>
        <h3 class="capital sermons-feature-subheading">{{ page.education_card_subtitle }}</h3><a class="button nomargin w-button" href="{% pageurl page.education_card_button_link %}">{{ page.education_card_button_text }}</a>
      </div>
        {% image page.offering_card_image original as offering_image %}
      <div class="mission sermon-feature-flexitem">
          <img class="image" src="{{ offering_image.url }}">
        <h1 class="sermon-feature-heading">{{ page.offering_card_title }}</h1>
        <h3 class="capital sermons-feature-subheading">{{ page.offering_card_subtitle }}</h3><a class="button nomargin w-button" href="{% pageurl page.offering_card_button_link %}">{{ page.offering_card_button_text }}</a>
      </div>
        {% image page.contact_card_image original as contact_image %}
      <div class="mission sermon-feature-flexitem">
          <img class="image" src="{{ contact_image.url }}">
        <h1 class="sermon-feature-heading">{{ page.contact_card_title }}</h1>
        <h3 class="capital sermons-feature-subheading">{{ page.contact_card_subtitle }}</h3><a class="button nomargin w-button" href="{% pageurl page.contact_card_button_link %}">{{ page.contact_card_button_text }}</a>
      </div>
    </div>
  </div>
{% endblock %}
